<app-navbar></app-navbar>
<body>
    <header>
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Alfa+Slab+One&display=swap" rel="stylesheet">
    </header>

    <div class="image-container">
        <h1 class="page-title" id="titulo">{{"trending & moda" | uppercase}}</h1>
    </div>

    <br>
    
    <div class="row">

        <div class="container-all">
            <img src="/assets/img/zapatos/cardamomo.jpg" alt="">
            <h1 class="tittle">CARDAMOMO</h1>
            <h5>Nuestro Cardamomo es perfecto si quieres lograr un effortless look, son nuestros tenis más cómodos y viene en dos colores básicos que combinan con todo, usalo con leggins, jean, falda, short o vestido; según sea tu preferencia. 
                Hechos de cuero sintético, suela de pvc de altura media.</h5>
        </div>

        <div class="container-all">
            <img src="/assets/img/zapatos/araza.jpg" alt="">
            <h1 class="tittle">ARAZÁ</h1>
            <h5>Los Arazá son la combinación perfecta de comodidad y estilo, los ideales para un día que quieras estar más relajada y cómoda y al mismo tiempo verte bien, logrando ese look casual chic que 
                tanto llama la atención, combinalos con unos jeans, falda o vestido. Material: Malla, suela en pvc cubierta con tuye y altura baja.</h5>
        </div>

        <div class="container-all">
            <img src="/assets/img/zapatos/blanco.jpg" alt="">
            <h1 class="tittle">ARCE</h1>
            <h5>Nuestros Arce son nuestros famosos EVERY DAY SHOES, llamados así precisamente por ser esos zapatos infaltables en tu closet, perfectos para el dia a dia y para cualquier ocasión, sea formal e informal 
                según lo necesites, viene en siete colores básicos que los convierte en un must have. Hechos 100% en cuero, suela en pvc y altura baja.</h5>
        </div>

        <div class="container-all">
            <img src="/assets/img/zapatos/ebano.jpg" alt="">
            <h1 class="tittle">ÉBANO</h1>
            <h5>Elegante, sofisticada y elaborada con cueros 100% Colombianos seleccionados de la más alta calidad, liso, y con una minuciosa atención a los detalles, esta línea ofrece diseños para usar con traje de 
                dos piezas o para atuendos formales. Con suela de TR e interior abullonado para total comodidad.</h5>
        </div>

    </div>

</body>
<app-whatsapp></app-whatsapp>
<app-footer></app-footer>
