#navbarSupportedContent{

    margin-left: auto;
    margin-right: auto;

    
}

.nav-item:hover{
    text-decoration: underline;
}

#centrarlogo{

    margin-left: auto;
    margin-right: auto;

}

#envios{

    /* margin-right: 10px; */
}

#carrito-compras{

    display: flex;
    flex-direction: row-reverse;
}
/**

#abarca{

    position: fixed;
    right: 0;
    top: 0;
    left: 0;
    
}
*/
/**
.main{

    padding-top: 10rem;

}
*/