<!-- <main class="main">


<nav id="abarca"> -->

<div style="z-index:10;">
  <app-carro></app-carro>
</div>

<nav class="navbar navbar-expand-lg navbar-light bg-dark">
  <div id="envios">
    <a style="color: white;" class="nav-link " aria-current="page" href="#">{{ "Envios a todo Colombia" | uppercase
      }}</a>
  </div>
</nav>


<nav class="navbar navbar-expand-lg navbar-light bg-dark">




  <div class="" id="centrarlogo">
    <img src="/assets/img/Lulatto_Sin_Fondo.png" alt="">
  </div>

</nav>

<nav class="navbar navbar-expand-lg navbar-light bg-dark">
  <div class="container-fluid">


    <div class="" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">

        <li class="nav-item">
          <a style="color: white;" class="nav-link " aria-current="page" href="/">{{ "inicio" | uppercase }}</a>
        </li>

        <li class="nav-item">
          <a style="color: white;" class="nav-link " aria-current="page" href="/caballero">{{ "caballero" | uppercase }}</a>
        </li>


        <li class="nav-item">
          <a style="color: white;" class="nav-link " aria-current="page" href="/mujer">{{ "mujer" | uppercase }}</a>
        </li>

        <li class="nav-item">
          <a style="color: white;" class="nav-link " aria-current="page" href="/descuentos">{{ "descuentos" | uppercase }}</a>
        </li>

        <li class="nav-item">
          <a style="color: white;" class="nav-link " aria-current="page" href="/bono">{{ "bonos de regalo" | uppercase
            }}</a>
        </li>

        <li class="nav-item">
          <a style="color: white;" class="nav-link active" aria-current="page" href="sinformacion">{{ "información" |
            uppercase }}</a>
        </li>

        <li class="nav-item">
          <a style="color: white;" class="nav-link " aria-current="page" href="tendencia">{{ "tendencias" | uppercase
            }}</a>
        </li>



      </ul>
    </div>

    <div class="carrito-compra">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav_item" id="carrito-compras">
          <a style="color: white;" class="nav-link" aria-current="page" (click)="toggle()"><img
              src="/assets/img/carrito-de-compras.png" alt=""></a>
        </li>
      </ul>
    </div>
  </div>
</nav>
<!-- </nav>
</main> -->