<app-navbar></app-navbar>

<br>
<br>
<br>

<div class="container">

    <div class="row">
        <div class="col-6">
            <h4 id="centrar" class="display-6 text-uppercase">Envios a todo el País </h4>
            <h5 id="centrar">Hacemos envios a cualquier parte de Colombia.</h5>
        </div>
        <div class="col-6">
            <h4 id="centrar" class="display-6 text-uppercase">Los mejores materiales</h4>
            <h5 id="centrar">Nuestros productos con realizados con los mejores materiales para que siempre te lleves un
                producto de
                la mejor calidad.</h5>
        </div>

        <div class="row">
            <div class="col-6">
                <div class="col">
                    <br>
                    <h4 id="centrar" class="display-6 text-uppercase">Pagos seguros</h4>
                    <h5 id="centrar">Los pagos seran realizados por medio de Payu, una plataforma con mucha seguridad y
                        trayectoria.</h5>
                </div>
            </div>
            <div class="col-6">
                <br>
                <h4 class="display-6 text-uppercase" id="centrar">Hechos 100% en Colombia</h4>
                <h5 id="centrar">Rescatamos el trabajo local por medio de zapatos que te llevan a grandes lugares.</h5>
            </div>

        </div>
    </div>
</div>

<div class="map-container" id="map">


</div>
<br>
<br>
<br>


<br>
<br>




<app-whatsapp></app-whatsapp>
<app-footer></app-footer>