<app-navbar></app-navbar>
<div id="carouselId" class="carousel slide" data-bs-ride="carousel">
    <ol class="carousel-indicators">
      <li data-bs-target="#carouselId" data-bs-slide-to="0" class="active"></li>
      <li data-bs-target="#carouselId" data-bs-slide-to="1"></li>
      <li data-bs-target="#carouselId" data-bs-slide-to="2"></li>
      <li data-bs-target="#carouselId" data-bs-slide-to="3"></li>
    </ol>
    <div class="carousel-inner" role="listbox">
      <div class="carousel-item active">
        <img src="../../assets/img/prueba.jpg" width="500px" height="500px" alt="First slide" >
        <div class="carousel-caption d-none d-md-block ">
          <h3>Araza</h3>
        </div>
      </div>
      <div class="carousel-item">
        <img src="../../assets/img/zapatos/blanco.jpg"  alt="Second slide" >
        <div class="carousel-caption d-none d-md-block ">
          <h3>Blanco</h3>
        </div>
      </div>
      <div class="carousel-item">
        <img src="../../assets/img/zapatos/cardamomo.jpg"  alt="Third slide" >
        <div class="carousel-caption d-none d-md-block ">
          <h3>Cardamomo</h3>
        </div>
      </div>
      <div class="carousel-item">
        <img src="../../assets/img/zapatos/ebano.jpg"  alt="Fourth slide" >
        <div class="carousel-caption d-none d-md-block ">
          <h3>Ebano</h3>
        </div>
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselId" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselId" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
      </button>
  </div>
<app-whatsapp></app-whatsapp>
<app-footer></app-footer>